*.vpp~*
/servidor/nbproject/private/
/servidor/servidor-war/nbproject/private/
/servidor/servidor-ejb/nbproject/private/
/servidor/build/
/servidor/dist/
/android/FacturacionInSitu/bin/
/android/FacturacionInSitu/gen/

/SymmetricDS/sym-corp/symmetric-3.5.22/logs
SymmetricDS/sym-corp/symmetric-3.5.22/tmp/
scripts/*.csv
